<div id="<%= dom_id holiday %>">
  <p>
    <strong>Type:</strong>
    <%= holiday.type %>
  </p>

  <p>
    <strong>Startholiday:</strong>
    <%= holiday.startholiday %>
  </p>

  <p>
    <strong>Endholiday:</strong>
    <%= holiday.endholiday %>
  </p>

</div>
