<div id="<%= dom_id leave_balance %>">
  <p>
    <strong>Leavetype:</strong>
    <%= leave_balance.leavetype %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= leave_balance.balance %>
  </p>

</div>
