<div class="mt-5 text-center">
    <h1 class="text-4xl font-bold text-center">Event Calendar</h1><br/>
	<p class="text-gray-600">Welcome to the Employee Calendar. You can view the events and absent employee of the day. </p>

	<br/>
	<%= month_calendar(events: @leaves + @holidays) do |date, events| %>
		<div class="day">
			<%= date.day %>
		</div>

		<div class="Events">
			<% events.each do |event| %>
				<% if event.is_a?(Leafe) %>
					<%= event.name %>
				<% else %>
					<%= event.holidaytype %>
				<% end %>
			<% end %>
		</div>
	<% end %>

</div>
<br><br><br>
